{% extends "taskbase.html" %}

{% block body %}
<!-- this is the template that allows for the user to  -->
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form method="post" > <!-- using the post tag to identify that this is for post -->
    <input class="button" type ="submit" formaction="/createBoard" value="Go on an adventure!" /><!-- this the button that allows the user to buld the board -->
</form>

<form method="post" id="chessInput"> <!-- this is another post tag to allow for user interaction -->
    <table>
        <tr>
            {% for header in rowList %} <!-- using jinja to make as many buttons as included in the board dictonary -->
            <th><input class="button" type ="submit" value={{header}} formaction={{keyRoutes[header]}} id={{header}}/></th>
            {% endfor %}
        </tr>
    </table>
</form>

{{ displayClicked }} <!-- this line is to communicate hints to the player -->

<h1>{{ displayRoutes }}</h1> <!-- this line is for debuggin -->

<img src="{{ displayImage }}"> <!-- this is to display the win image -->

</body>

</html>

{% endblock %}