<!DOCTYPE html>
{% extends "taskbase.html" %}

{% block body %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/gallery_style.css" rel="stylesheet" type="text/css" />

    </head>
    <body>

    <h2>Top 50</h2>
    <p>see the top items for _____ (location) this week. Come soon, not guaranteed to stay stocked for long!</p>
    <br>

    {% for data in inventory_list: %}
    {% set name = data["name"] %}
    {% set tag = data["tag"] %}
    {% set description = data["description"] %}
    {% set price = data["price"] %}
    {% set size = data["size"] %}
    <!-- need to place the cards here -->
    <!--<p>item</p>-->
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="https://placeimg.com/200/200?random=1" style="width:100%">
                <div class="container">
                    <h2>Jane Doe</h2>
                    <p class="title">CEO & Founder</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    {% endfor %}


    <!--
        <div class="column">
            <div class="card">
                <img src="https://placeimg.com/200/200?random=2" style="width:100%">
                <div class="container">
                    <h2>Mike Ross</h2>
                    <p class="title">Art Director</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    -->
    </body>
</html>
{% endblock%}