{% extends "taskbase.html" %}'
{% set titleImage = data["titleImage"] %}



{% block body %}
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/static/style.css" rel="stylesheet" type="css" />
</head>

<body>

<div class="container-fluid">

    <div class="row justify-content-end" style="padding-top: 2%; padding-bottom: 2%; padding: 2%;">

        <div class="col-2" style="text-align: right;">
            <!-–on the left of the screen-–>
            <h2>Colin Szeto</h2>

            <a class="icon" href="https://github.com/kolinbilly" target="_blank" ><i class="fa fa-github" ></i></a>
            <a class="icon" href="https://www.linkedin.com/in/colin-szeto-1a556318a/" target="_blank"><i class="fa fa-linkedin" ></i></a>
            <a class="icon" href="https://www.youtube.com/channel/UC59JU4vWL8l0eQrixwds_3A" target="_blank"><i class="fa fa-youtube-play"></i></a>
            <a class="icon" href="https://www.instagram.com/ftc11128inspiration/" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>

    </div><!-- this is the code for the ship -->
    {% if 'titleImage' in data %}
        {% for data in titleImage %}
            <p class="image" style="text-align: center; LINE-HEIGHT:0px;">{{ data }} </p>
        {% endfor %}
    {% endif %}

    <!-- bootstrap link to redirect user to adventure start page -->
    <a class="nav-link code" style="color:red; margin:auto; text-align: center;" href="/project/chessDict/" >Go on An Adventure?</a>
    <a class="nav-link code" style="color:red; margin:auto; text-align: center;" href="/project/chessDictTable/" >Chess Table</a>
<!--
    code for the implementation of the dialog boxes
    <form action="/action_page.php">
      <label for="cars">Choose a car:</label>
      <select name="cars" id="cars">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>
-->
</div>

</body>
{% endblock %}