<!DOCTYPE html>
<html lang="en">
<!--data from a param in main.py -->
{% set greeting = data["greeting"] %}
{% set name = data["name"] %}
{% set doa = data["doa"] %}
{% set job = data["job"] %}
{% set embed = data["embed"] %}
{% set story = data["description"] %}
{% set titleImage = data["titleImage"] %}
{% set gist = data["gist"] %}
{% extends "taskbase.html" %}

{% block head %}
    <title>{{name}} | Colin Szeto </title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% if 'greeting' in data %}
    {% block greeting %}
        ({{greeting}})
    {% endblock %}
{% endif %}


{% block body %}

{% if 'titleImage' in data %}
    {% for data in titleImage %}
        <p  style="text-align: center; LINE-HEIGHT:0px;">{{ data }} </p>
    {% endfor %}
{% endif %}

<!-- observe usage jinja variables -->
<h2>Assignment: <span class="colorTextShow">{{name}}</span></h2>
<h3>Due date: <span class="colorTextShow">{{doa}}</span></h3>
<h3>Task: <span class="colorTextShow">{{job}}</span></h3>
<p><span class="colorTextShow">{{story}}</span></p>
{% if 'embed' in data %}
<div class="embed-responsive embed-responsive-4by3">
    <iframe class="embed-responsive-item" src={{embed}}></iframe>
</div>
{% endif %}
{% if 'gist' in data %}
<div>
    <script src={{gist}}></script>
</div>
{% endif %}
{% endblock %}


</html>