{% extends "taskbase.html" %}

{%block body %}

<form method="post"> <!-- formated in a table for easy display -->
    <table>
        <tr>
            <td> Your Name: </td> <td> <input type="text" name="inputName" required/></td> <!--what is shown to the user -->
        </tr>
    </table>
    <br>
    <input class="button" type ="submit" formaction="/printName" value="What is My name?" />   <!-- formaction="/printName" is what connect yourName to the main,py file -->
</form>

<p>{{ display }} </p> <!-- what is shown to the user -->


{% endblock %}